
body{
    font-family: sans-serif;
}

.wrapper{
    background-color: #fff;
    color: #444;
    text-align: left;
    border-radius: 5px;
    font-size: 150%;
    grid-template-columns: 120px 120px 120px;
    grid-template-areas:
    ' header header header'
    'content content content'
    'footer footer footer';

}
button{
    background-color: deepskyblue; 
    border: none;
    color: white;
    font-size: 20px;
}
.header{
    grid-area: header;
    padding: 10px;
    background-color: deepskyblue;
    font-size: 24px;
    border-radius: 5px;
}

.content{
    grid-area: content;
    padding: 10px;
    background-color: #34568B;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

.footer{
    grid-area: footer; 
   
  
  border-radius: 5px;
}
.welcome{
   text-align: center; 
}


.footer {
    color: #444;
    display: flex;
    justify-content: space-between;
    margin-left: 350px;
    margin-right: 350px;
}

.footer a {
    color: #444;
    padding-right: 20px;
}
