
body{
    font-family: sans-serif;
}
html{
    background-color:#fff
}
.wrapper{
    background-color: #fff;
    font-family: "Times New Roman", Times, serif;
    color: #444;
    text-align: left;
    border-radius: 5px;
    font-size: 150%;
    grid-template-columns: 120px 120px 120px;
    grid-template-areas:
    ' header header header'
    'content content content'
    'footer footer footer';

}
button{
    background-color: deepskyblue; 
    border: none;
    color: white;
    font-size: 20px;
}
.header{
    grid-area: header;
    padding: 10px;
    background-color: deepskyblue;
    border-radius: 5px;

}

.content{
    grid-area: content;
    padding: 10px;
    background-color: #34568B;
    text-align: center;
    color: #fff;
    border-radius: 5px;
   /* min-height: 50vh;*/
    display: flex;
    /*flex-direction: column; */
}


.welcome{
   text-align: center; 
}


.footer {
    grid-area: footer;
    margin-top: auto;
    background:deepskyblue;
    border-radius: 5px;
    padding: 10px;
}

.Github{
    background-color: #34568B;
    border-radius: 5px;
    padding: 10p
}
img{
    border-radius: 50%;
}
.description{
    background-color: #34568B;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
