
html {
    background-color: darkgrey
}
.Links{
    background-color: grey
}
.Bio{
    font-family: cursive;
    background-color:linen
}
.github{
    font-family: fantasy;
    background-color:black
}
.social_media{
    font-variant: small-caps;
}